


  .sidenav-container {
    height: 100%;

  }

  .sidenav {
    width: auto;
    margin-top:64px;
  }

  .title{
    padding-left: 20px;
  }



  span{
    cursor: pointer;
  }

  .margin-container{
    width: 75%;
    margin: auto;
    margin-top: 100px;
  }

.icon_menu{
  padding-right: 15px;
}
.container{
margin: 10px;
padding: 10px;
display: inline-block;
}

.row{
    margin: 20px;
    text-decoration-color: antiquewhite;
    color: yellow;
    padding: 20px;
    float: right;

}
