table {
  width: 100%;
}

.selectTable {
  margin-top: 10px;
 text-align: center;

}

#tm , #tp{
  margin-right: 20px;
  /* margin-left: 250px; */
 display:inline-block;

}
.tablacontainer{
text-align: center;

}

#materialTable,#primeTable{
 padding: 20px;
}
.margin-container{
  margin-top: 54px;
}

#filterContainer{
  padding: 15px;
  width: 200px;
}
#filter{
  margin-left: 20px;
}

#msgMuestra{
  width: 200px;
  height: 100px;
  margin-left: 100px;
  border: 2px solid black;
  padding: 15px;
}
