<div class="container">
  <form class="form-horizontal" (ngSubmit)="login(loginForm)" #loginForm autocomplete="off">
    <fieldset>
      <div class="form-group" [ngClass]="{'has-error':(userNameVar.touched ||
  UserNameVar.dirty)&& !userNameVar.valid}">
        <label class="col-md-2 control-label" for="UserNameId">User Name</label>
        <div class="col-md-8">
          <input class="form-control" id="userNameId" type="text" placeholder="UserName(required)" required ngModel
            name="userName" #userNameVar>
          <span class="help-block" *ngIf="(userNameVar.touched ||
                                             userNameVar.dirty)&&
                                             userNameVar.errors">

            <span *ngIf="userNameVar.errors.required">
              User name is required
            </span>
          </span>

        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error':(passWordVar.touched||passwordVar.dirty)&&
                                                       passwordVar.errors}">
        <label class="col-md-8">
          <input class="form-control" id="passwordId" type="password" placeholder="Password (required)" required ngModel
            name="password" #passwordVar />
          <span class="help-block" *ngIf="(passwordVar.touched||passwordVar.dirty)
                                            &&passwordVar.errors">
            <span *ngIf="passwordVar.errors.required">
              password is required bitch
            </span>

          </span>
        </label>


      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span>
            <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px"
              [disabled]=!loginForm.valid> Log Bitch

            </button>
          </span>
          <span>
            <a class="btn btn-default" (click)="cancel()">
              cancel
            </a>
          </span>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
